<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
      <h1 class='taxonomy-root' style="text-align: center; text-justify: inter-word; color:#0b0b0b; font-size: 180%; font-weight: bold; border-width: 2px; border-bottom: 2px #0b0b0b solid;">CATEGORIAS</h5>
      <ul>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/cadeiras/">CADEIRAS
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/computadores/">COMPUTADORES
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/disco-rigido/">DISCO RIGIDO
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/games/">GAMES
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/headsets/">HEADSETS
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/memoria-ram/">MEMORIA RAM
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/mesa/">MESA
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/monitores/">MONITORES
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/mousepad/">MOUSEPAD
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/mouses/">MOUSES
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/notebook/">NOTEBOOK
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/pen-drive/">PEN DRIVE
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/placa-de-video/">PLACA DE VIDEO
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/processador/">PROCESSADOR
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/smartphone/">SMARTPHONE
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/ssd/">SSD
          </a>
        </li>
      	<li class="b1">
          <a style="color:#bb0a21; text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" href="/t/categories/teclado/">TECLADO
          </a>
        </li>
      </ul>
    <% end %>
  <% end %>
</nav>
